<app-navbar></app-navbar>


<div class="container">
    <div >
        <div style="width: 1000px;">

            <table  class="table table-dark" >
                <thead>
                    <tr>
                        <th  style="color: yellow;">No</th>
                      <th style="color: yellow;">NAME</th>
                      <th  style="color: yellow;">SCORE</th>

           
                    </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let a of tableData'>
                    <td  >{{ a.rank }}</td>
                    <td  >{{ a.fullName }}</td>
                    <td  >{{ a.score}}</td>


                </tr>
                </tbody>
              </table>



            
            
        </div>
    </div>
</div>



